/iteration0/.idea/
/iteration0/iteration0/.idea/
/iteration0/iteration0/out/
/iteration1/iteration1/.idea/
/iteration1/iteration1/out/
/iteration1/iteration1/src/main/java/Model/Repositories/
/iteration1/iteration1/src/main/resources/META-INF/hibernate.cfg.xml
/iteration1/iteration1/src/main/resources/META-INF/persistence.xml
/iteration1/iteration1/target/classes/META-INF/persistence.xml
/iteration2/iteration2_client/.idea/
/iteration2/iteration2_client/out/
/iteration2/iteration2_server/.idea/
/iteration2/iteration2_server/out/
/iteration2/iteration2_server/src/main/resources/META-INF/hibernate.cfg.xml
/iteration2/iteration2_server/target/classes/META-INF/persistence.xml
/iteration3/iteration2_client/.idea/
/iteration3/iteration2_server/.idea/
/iteration3/iteration2_client/out/
/iteration3/iteration2_server/out/
/iteration3/iteration2_client/target/
/iteration3/iteration2_server/target/
/iteration3/iteration2_server/src/main/resources/META-INF/hibernate.cfg.xml
/iteration3/iteration2_server/target/classes/META-INF/persistence.xml